<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
<!-- Bootstrap CSS -->  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />  
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />    

<!-- jQuery first, then Tether, then Bootstrap JS. -->  
<script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>  
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

</head>
<body>
	<form action="#" th:action="@{/skill/add}"
	th:object="${skill}" method="post">
	<div class="form-group col-md-6">
		<label th:for="${skill.namaSkill}"> Skill </label>
		<input type="text" th:field="*{namaSkill}"
		th:errorclass="fieldError" class="form-control"/>
		<p th:if="${#fields.hasErrors('namaSkill')}"
		th:errors="*{namaSkill}"> Skill </p>
	</div>
	<div class="form-group col-md-6">
		<label th:for="${skill.keterangan}">
		Keterangan</label>
		<input type="text" th:field= "*{keterangan}"
		th:errorclass="fieldError" class="form-control"/>
		<p th:if="${#fields.hasErrors('keterangan')}"
		th:errors="*{keterangan}"> Keterangan </p>
	</div>
	<div class="form-group col-md-6">
		<input type="submit" value="SIMPAN"/>
	</div>
	</form>
</body>
</html>