<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(document).ready(function() {
		var skillName = [];
		var skillId = [];
		$.get("/skillName", function(data) {
			$.each(data, function(index, value) {
				skillName.push(value);
			});
		});

		$.get("/skillId", function(data) {
			$.each(data, function(index, value) {
				skillId.push(value);
			});
		});

		$("#inputSkill").autocomplete({
			source : skillName,
			select : function(event, ui) {
				var index = skillName.indexOf(ui.item.value);
				$("#selectSkill").val(skillId[index]);

			}
		});
	});
</script>

<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/sd/add}" th:object="${sd}" method="post">
		<div class="form-group col-md-6">
			<input type="text" th:field="*{skilldiriPK.id}"
				th:errorclass="fieldError" class="form-control"/>
			<p th:if="${#fields.hasErrors('skilldiriPK.id')}"
				th:errors="*{skilldiriPK.id}">ID</p>
		</div>
		<div class="form-group col-md-6">
			<label th:for="${sd.skilldiriPK.skillId}"> Skill </label> <input id="inputSkill"
				type="text" class="form-control" />
				<input id="selectSkill" type="hidden" th:field="*{skilldiriPK.skillId}"/>
		</div>
		<!-- <div class="form-group col-md-6">
			<label th:for="${sd.skilldiriPK.skillId}"> Skill</label> 
			<select
				id="inputSP" th:field="*{skilldiriPK.skillId}"
				th:errorclass="fieldError" class="form-control">
				<option value="1">Choose..</option>
				<div th:each="s : ${getSkill}">
					<option th:value="${s.skillId}" th:text="${s.namaSkill}"></option>
				</div>
			</select>
		</div> -->
		<div class="form-group col-md-6">
			<input type="submit" value="SIMPAN" />
			<!-- <input type="hidden"
				th:field="*{skilldiriPK.id}" th:value="*{skilldiriPK.id}" /> -->
		</div>
	</form>
</body>
</html>