<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(document).ready(function() {
		var skillName = [];
		var skillId = [];
		$.get("/skillName", function(data) {
			$.each(data, function(index, value) {
				skillName.push(value);
			});
		});

		$.get("/skillId", function(data) {
			$.each(data, function(index, value) {
				skillId.push(value);
			});
		});

		$("#inputSkill").autocomplete({
			source : skillName,
			select : function(event, ui) {
				var index = skillName.indexOf(ui.item.value);
				$("#selectskill").val(skillId[index]);

				var iskill = $("#selectskill").val();
				var url = "/addSkill";
				$.get(url, {
					skill : iskill
				}).done(function(data) {
					$("#addSkill").autocomplete({
						source : data,
						select : function(event, ui) {
							$("#selectskill").val(ui.item.value);
						}
					});
				});
			}
		});
	});
</script>
</head>
<body>
		<div class="form-group col-md-6">
			<input id="inputID" type="text" class="form-control"/>
		</div>
		<div class="form-group col-md-6">
			<label> Skill </label> <input id="inputSkill"
				type="text" class="form-control" />
				<input id="selectSkill" type="hidden"/>
		</div>
</body>
</html>