<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<form action="#" th:action="@{/datadiri/addPekerjaan}"
		th:object="${pekerjaan}" method="post">
		<div>
			<label th:for="${pekerjaan.namaPerusahaan}"> Nama Perusahaan </label> <input
				type="text" th:field="*{namaPerusahaan}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('namaPerusahaan')}"
				th:errors="*{namaPerusahaan}">Nama Perusahaan</p>
		</div>
		<div>
			<label th:for="${pekerjaan.jabatan}"> Jabatan</label> <input
				type="text" th:field="*{jabatan}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('jabatan')}" th:errors="*{jabatan}">
				Jabatan</p>
		</div>
		<div>
			<label th:for="${pekerjaan.kota}"> Kota </label> <input type="text"
				th:field="*{kota}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('kota')}" th:errors="*{kota}">Kota
			</p>
		</div>
		<div>
			<label th:for="${pekerjaan.tahunMulai}"> Tahun Mulai </label> <input
				type="text" th:field="*{tahunMulai}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('tahunMulai')}"
				th:errors="*{tahunMulai}">Tahun mulai</p>
		</div>
		<div>
			<label th:for="${pekerjaan.tahunSelesai}"> Tahun Selesai </label> <input
				type="text" th:field="*{tahunSelesai}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('tahunSelesai')}"
				th:errors="*{tahunSelesai}">Tahun Selesai</p>
		</div>
		<div>
			<label th:for="${pekerjaan.keterangan}"> Keterangan </label> <input type="text"
				th:field="*{keterangan}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('keterangan')}" th:errors="*{keterangan}">Keterangan</p>
			
		</div>
		<div>
			<input type="submit" value="SIMPAN"/>
		</div>
	</form>
</body>
</html>