<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function() {
		$("#accordion").accordion();
		var spinner1 = $("#spinner1").spinner();
		var spinner2 = $("#spinner2").spinner();
		var spinner3 = $("#spinner3").spinner();
	});
</script>

</head>
<body>
	<form action="#" th:action="@{/data/add}" th:object="${data}" method="post">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="${data.nama}">Nama :</label> <input type="text"
					th:field="*{nama}" th:errorclass="fieldError" class="form-control" />
			</div>
			<div class="form-group col-md-6">
					<label for="${data.umur}">Umur :</label> <input
						th:field="*{umur}" th:errorclass="fieldError" class="form-control"
						id="spinner3" name="value" />
			</div>
			<div class="form-group col-md-6">
				<label for="${data.tempatLahir}">Tempat Lahir :</label> <input
					type="text" th:field="*{tempatLahir}" th:errorclass="fieldError"
					class="form-control" id="inputTempatLahir"
					placeholder="Tempat Lahir" />
			</div>
			<div class="form-group col-md-6">
				<label for="${data.tanggalLahir}">Tanggal Lahir :</label> <input
					type="date" th:field="*{tanggalLahir}" th:errorclass="fieldError"
					class="form-control" id="inputTanggalLahir"
					placeholder="Tanggal Lahir" />
			</div>
			<div class="form-group col-md-4">
				<label for="${data.gender}">Jenis Kelamin :</label> <select
					id="inputGender" th:field="*{gender}" th:errorclass="fieldError"
					class="form-control">
					<option value="">Choose...</option>
					<option value="L">Laki-laki</option>
					<option value="P">Perempuan</option>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label for="${data.agama}">Agama :</label> <select
					id="inputAgama" th:field="*{agama}" th:errorclass="fieldError"
					class="form-control">
					<option value="">Choose...</option>
					<option value="Islam">Islam</option>
					<option value="Kristen">Kristen</option>
					<option value="Katolik">Katolik</option>
					<option value="Hindu">Hindu</option>
					<option value="Buddha">Buddha</option>
					<option value="Konghuchu">Konghuchu</option>
				</select>
			</div>
			<div class="form-group col-md-6">
				<label for="${data.kewarganegaraan}">Kewarganegaraan :</label> <input
					type="text" th:field="*{kewarganegaraan}"
					th:errorclass="fieldError" class="form-control"
					id="inputKewarganegaraan" placeholder="Kewarganegaraan" />
			</div>
			<div class="form-group col-md-4">
				<label for="${data.statusPerkawinan}">Status :</label> <select
					id="inputStatusPerkawinan" th:field="*{statusPerkawinan}"
					th:errorclass="fieldError" class="form-control">
					<option value="">Choose...</option>
					<option value="Lajang">Lajang</option>
					<option value="Menikah">Menikah</option>
				</select>
			</div>
			<div class="form-group col-md-6">
				<p>
					<label for="${data.tinggi}">Tinggi Badan :</label> <input
						id="spinner1" name="value" th:field="*{tinggi}"
						th:errorclass="fieldError" />
				</p>
			</div>
			<div class="form-group col-md-6">
				<p>
					<label for="${data.berat}">Berat Badan :</label> <input
						id="spinner2" name="value" th:field="*{berat}"
						th:errorclass="fieldError" />
				</p>
			</div>
			<div class="form-group col-md-6">
				<label for="${data.alamat}">Alamat :</label> <input type="text"
					class="form-control" id="inputAddress" th:field="*{alamat}"
					th:errorclass="fieldError"
					placeholder="ex: Jalan S. Parman Kav.7-9 No.12B Jakarta Barat" />
			</div>
			<div class="form-group col-md-6">
				<label for="${data.foto}">Upload Foto Terbaru :</label> <input
					type="file" class="form-control-file" th:field="*{foto}"
					th:errorclass="fieldError" id="exampleFormControlFile1" />
			</div>
			<div class="form-group col-md-6">
				<label for="${data.profilSingkat}">Profil Singkat :</label> <input
					type="text" class="form-control" id="inputProfilSingkat"
					th:field="*{profilSingkat}" th:errorclass="fieldError"
					placeholder="ex: I love to work with HTML..." />
			</div>
			<div>
				<input type="submit" value="SIMPAN" />
			</div>
		</div>
	</form>
</body>
</html>