<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function() {
		$("#accordion").accordion();
		var spinner1 = $("#spinner1").spinner();
		var spinner2 = $("#spinner2").spinner();
		var spinner3 = $("#spinner3").spinner();
	});
</script>
</head>
<body>
	<div id="accordion">
		<h3>Data Diri</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputNama">Nama :</label> <input type="text"
							class="form-control" id="inputNama" placeholder="Nama Lengkap" />
					</div>
					<div class="form-group col-md-6">
						<p>
							<label for="spinner">Umur :</label> <input id="spinner3"
								name="value" />
						</p>
					</div>
					<div class="form-group col-md-6">
						<label for="inputTempatLahir">Tempat Lahir :</label> <input
							type="text" class="form-control" id="inputTempatLahir"
							placeholder="Tempat Lahir" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputTanggalLahir">Tanggal Lahir :</label> <input
							type="date" class="form-control" id="inputTanggalLahir"
							placeholder="Tanggal Lahir" />
					</div>
					<div class="form-group col-md-4">
						<label for="inputGender">Jenis Kelamin :</label> <select
							id="inputGender" class="form-control">
							<option>Choose...</option>
							<option>Laki-laki</option>
							<option>Perempuan</option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="inputAgama">Agama :</label> <select id="inputAgama"
							class="form-control">
							<option>Choose...</option>
							<option>Islam</option>
							<option>Kristen</option>
							<option>Katolik</option>
							<option>Hindu</option>
							<option>Buddha</option>
							<option>Konghuchu</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="inputKewarganeraan">Kewarganegaraan :</label> <input
							type="text" class="form-control" id="inputKewarganegaraan"
							placeholder="Kewarganegaraan" />
					</div>
					<div class="form-group col-md-6">
						<p>
							<label for="spinner">Tinggi Badan :</label> <input id="spinner1"
								name="value" />
						</p>
					</div>
					<div class="form-group col-md-6">
						<p>
							<label for="spinner">Berat Badan :</label> <input id="spinner2"
								name="value" />
						</p>
					</div>
					<div class="form-group col-md-6">
						<label for="inputAddress">Alamat :</label> <input type="text"
							class="form-control" id="inputAddress"
							placeholder="ex: Jalan S. Parman Kav.7-9 No.12B Jakarta Barat" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputProfilSingkat">Profil Singkat :</label> <input
						type="text" class="form-control" id="inputProfilSingkat"
						placeholder="ex: I love to work with HTML..." />
				</div>
				<div class="form-group">
					<label for="exampleFormControlFile1">Upload Foto Terbaru :</label>
					<input type="file" class="form-control-file"
						id="exampleFormControlFile1" />
				</div>
			</form>
			<button type="submit" class="btn btn-primary">Simpan</button>
		</div>
		<h3>Pendidikan</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputNama">Nama Institusi :</label> <input type="text"
							class="form-control" id="inputNama"
							placeholder="Nama Sekolah/Universitas" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputJurusan">Jurusan :</label> <input type="text"
							class="form-control" id="inputJurusan" placeholder="Jurusan" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputKota">Kota :</label> <input type="text"
							class="form-control" id="inputKota" placeholder="Kota" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputTMulai">Tahun Mulai :</label> <input type="date"
							class="form-control" id="inputTMulai" placeholder="Tahun Mulai" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputTSelesai">Tahun Selesai :</label> <input
							type="date" class="form-control" id="inputTSelesai"
							placeholder="Tahun Selesai" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputIPK">IPK :</label> <input type="text"
							class="form-control" id="inputIPK" placeholder="ex: 3.51" />
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Tambah
						Pendidikan</button>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
			</form>
		</div>
		<h3>Organisasi</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputNama">Nama Organisasi :</label> <input
							type="text" class="form-control" id="inputNama"
							placeholder="Nama Organisasi" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputJabatan">Jabatan :</label> <input type="text"
							class="form-control" id="inputJabatan" placeholder="Jabatan" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputKota">Kota :</label> <input type="text"
							class="form-control" id="inputKota" placeholder="Kota" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputTMulai">Tahun Mulai :</label> <input type="date"
							class="form-control" id="inputTMulai" placeholder="Tahun Mulai" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputTSelesai">Tahun Selesai :</label> <input
							type="date" class="form-control" id="inputTSelesai"
							placeholder="Tahun Selesai" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputKet">Keterangan :</label> <input type="text"
							class="form-control" id="inputKet" placeholder="Keterangan" />
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Tambah
						Organisasi</button>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
			</form>
		</div>
		<h3>Pengalaman Kerja</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputNama">Nama Perusahaan :</label> <input
							type="text" class="form-control" id="inputNama"
							placeholder="Nama Perusahaan" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputJabatan">Jabatan :</label> <input type="text"
							class="form-control" id="inputJabatan" placeholder="Jabatan" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputKota">Kota:</label> <input type="text"
							class="form-control" id="inputKota" placeholder="Kota" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputTMulai">Tahun Mulai</label> <input type="date"
							class="form-control" id="inputTMulai" placeholder="Tahun Mulai" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputTSelesai">Tahun Selesai</label> <input
							type="date" class="form-control" id="inputTSelesai"
							placeholder="Tahun Selesai" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputKet">Keterangan :</label> <input type="text"
							class="form-control" id="inputKet" placeholder="Keterangan" />
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Tambah
						Pekerjaan</button>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
			</form>
		</div>
		<h3>Skill</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="inputSkill">Skill :</label> <select id="inputSkill"
							class="form-control">
							<option>Choose...</option>
							<option>Java Programming</option>
							<option>C++ Programming</option>
							<option>...</option>
							<option>...</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="inputKet">Keterangan :</label> <input type="text"
							class="form-control" id="inputKet" placeholder="Keterangan" />
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Tambah Skill</button>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
			</form>
		</div>
		<h3>Prestasi</h3>
		<div>
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputNama">Nama Prestasi :</label> <input type="text"
							class="form-control" id="inputNama"
							placeholder="Nama Prestasi/Penghargaan/Sertifikat" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputKet">Keterangan :</label> <input type="text"
							class="form-control" id="inputKet" placeholder="Keterangan" />
					</div>
					<div class="form-group col-md-6">
						<label for="exampleFormControlFile1">Upload
							Sertifikat/Penghargaan :</label> <input type="file"
							class="form-control-file" id="exampleFormControlFile1" />
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Tambah Skill</button>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>