<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

</head>
<body>
	<form action="#" th:action="@{/akun/add}" th:object="${aku}"
		method="post">
		<div class="form-group col-md-6">
			<label th:for="${aku.username}"> User Name </label> <input
				type="text" th:field="*{username}" th:errorclass="fieldError" class="form-control" />
		</div>
		<div class="form-group col-md-6">
			<label th:for="${aku.email}"> Email</label> <input type="text"
				th:field="*{email}" th:errorclass="fieldError" class="form-control"/>
		</div>
		<div class="form-group col-md-6">
			<label th:for="${aku.pw}"> Password</label> <input type="password"
				th:field="*{pw}" th:errorclass="fieldError" class="form-control"/>
		</div>
		<div class="form-group col-md-6">
			<input type="submit" value="SIMPAN" />
			<input type="hidden"
				th:field="*{isActive}" th:value="0" />
		</div>
	</form>
</body>
</html>