<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

</head>
<body>
	<form action="#" th:action="@{/akun/add}" th:object="${akun}"
		method="post">
		<div>
			<label th:for="${akun.username}"> User Name </label> <input
				type="text" th:field="*{username}" th:errorclass="fieldError" />
		</div>
		<div>
			<label th:for="${akun.email}"> Email</label> <input type="text"
				th:field="*{email}" th:errorclass="fieldError" />
		</div>
		<div>
			<input type="submit" value="SIMPAN" />
		</div>
	</form>
</body>
</html>