<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<!-- Bootstrap core CSS -->
<link href="../../vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom fonts for this template -->
<link
	href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
	rel="stylesheet" />
<link href="../../vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../vendor/devicons/css/devicons.min.css" rel="stylesheet" />
<link href="../../vendor/simple-line-icons/css/simple-line-icons.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="../../css/resume.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<form action="#" th:action="@{/datadiri/addOrganisasi}"
		th:object="${organisasi}" method="post">
		<div>
			<input
				type="hidden" th:field="*{id.id}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('id')}"
				th:errors="*{id}">ID</p>
		</div>
		<div>
			<label th:for="${organisasi.namaOrganisasi}"> Nama Organisasi
			</label> <input type="text" th:field="*{namaOrganisasi}"
				th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('namaOrganisasi')}"
				th:errors="*{namaOrganisasi}">Nama Organisasi</p>
		</div>
		<div>
			<label th:for="${organisasi.jabatan}"> Jabatan</label> <input
				type="text" th:field="*{jabatan}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('jabatan')}" th:errors="*{jabatan}">
				Jabatan</p>
		</div>
		<div>
			<label th:for="${organisasi.kota}"> Kota </label> <input type="text"
				th:field="*{kota}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('kota')}" th:errors="*{kota}">Kota
			</p>
		</div>
		<div>
			<label th:for="${organisasi.tahunMulai}"> Tahun Mulai </label> <input
				type="text" th:field="*{tahunMulai}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('tahunMulai')}"
				th:errors="*{tahunMulai}">Tahun mulai</p>
		</div>
		<div>
			<label th:for="${organisasi.tahunSelesai}"> Tahun Selesai </label> <input
				type="text" th:field="*{tahunSelesai}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('tahunSelesai')}"
				th:errors="*{tahunSelesai}">Tahun Selesai</p>
		</div>
		<div>
			<label th:for="${organisasi.keterangan}"> Keterangan </label> <input
				type="text" th:field="*{keterangan}" th:errorclass="fieldError" />
			<p th:if="${#fields.hasErrors('keterangan')}"
				th:errors="*{keterangan}">Keterangan</p>
		</div>
		<div>
			<input type="submit" value="SIMPAN" />
			
		</div>
	</form>
</body>
</html>