<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Data Skill</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
	
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("table").dataTable();
	});
</script>
</head>
<body>
	<div>
		<div class="widget" th="pendidikan : ${semuaPendidikan}">
			<a th:href="@{'/pendidikan/add/'}">Add</a>
		</div>
		<br />
		<table>
			<thead>
				<tr>
					<th>Nama Sekolah</th>
					<th>Jurusan</th>
					<!--  
					<th>Kota</th>
					<th>Tahun Mulai</th>
					<th>Tahun Selesai</th>
					-->
					<th>IPK</th>
					<th>Detail</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="x : ${semuaPendidikan}">
					<td th:text="${x.namaSekolah}" class="ns"></td>
					<td th:text="${x.jurusan}" class="j"></td>
					<!--  
					<td th:text="${x.kota}" class="k"></td>
					<td th:text="${x.tahunMulai}" class="tm"></td>
					<td th:text="${x.tahunSelesai}" class="ts"></td>
					-->
					<td th:text="${x.ipk}" class="ts"></td>
					<td><a th:href="@{'/pendidikan/detail/' + ${x.pendidikanId}}">Detail</a>
						<a th:href="@{'/pendidikan/edit/' + ${x.pendidikanId}}"> Edit</a> <a
						th:href="@{'/pendidikan/' + ${x.pendidikanId}}"> Hapus</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>